<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size (cm)</th>
            <th>Weight (gram)</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i < product.length; i++){ %>
            <tr>
                <td>
                    <%= i+1 %>
                </td>
                <td>
                    <%= product[i].name %>
                </td>
                <td>
                    <%= product[i].price %>
                </td>
                <td>
                    <%= product[i].size %>
                </td>
                <td>
                    <%= product[i].weight %>
                </td>
                <td>
                    <%= product[i].categoryId.name %>
                </td>
                <td>
                    <form action="/product/delete/<%= product[i]._id %>?_method=DELETE" method="post">
                        <a href="/product/edit/<%= product[i]._id %>" class="btn btn-info btn-sm"> <i
                                class="fas fa-pencil-alt"></i></a>
                        <button class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>